/// Returns a map of default theme colors in name-value format.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined colors.

@function theme-defaults() {

	@return (
        text-color      : #8c8c8c,
		accent          : #dd9933,
		accent-contrast : #ffffff,
		meta-light      : #f4f4f4,
        meta-medium     : #d8d8d8,
        meta-dark       : #a5a5a5
	);
}

/// Returns a single block color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Color name.
/// @return {string}         Color value.

@function getDefault( $name ) {
	@return map-get( theme-defaults(), $name );
}