////
/// Custom header component.
///
/// This handles the output of `the_custom_header_markup()` from core WP's
/// `custom-header` feature.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.additional-header-content {
    z-index: 1;

    &__title {
        margin-bottom: 12px;
    }

    &__meta {
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;

        svg {
            margin-right: 0.3em;
        }

        a {
            color: inherit;
        }
    }

    &__author {
        margin-right: 1em;
        display: flex;
        align-items: center;
    }

    .custom-header & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: var(--layout--container--padding);
        padding-top: 0;
    }
}

// hide additional header content when fixed header
.custom-header .app-header--fixed .additional-header-content {
    display: none;
}