////
/// App header component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.app-header {

    background-color: var( --colors--theme--accent );
    color: var( --header--default-color );
    width: 100%;
    position: relative;

    a:hover {
        color: var( --header--link-color--hover );
    }

	&__branding {
        display: grid;
        align-items: center;

        // Wrapper around the title and description.
        &__content {
            grid-area: content;
        }

        // prevent the branding from being squished when next to
        // a header menu that is expanded.
        // this can push the nav out of the container on mobile,
        // so only do tablet and up
        @include screen('tablet-and-up') {
            flex-shrink: 0;
        }
    }

    @include screen('mobile') {
        &--mobile--horizontal {

            .app-header__branding {
                @include branding_styles('horizontal');
            }

            .app-header__logo-link {
                margin: 0 var( --branding--logo--gutter ) 0 0;
            }

            .app-header__container {
                flex-direction: row;
            }
        }
        &--mobile--vertical {

            .app-header__branding {
                @include branding_styles('vertical');
            }

            .app-header__logo-link {
                margin: 0 0 var( --branding--logo--gutter ) 0;
            }

            .app-header__container {
                flex-direction: column;
            }
        }
    }

    @include screen('tablet-and-up') {
        &--tablet--horizontal {

            .app-header__branding {
                @include branding_styles('horizontal');
            }

            .app-header__logo-link {
                margin: 0 var( --branding--logo--gutter ) 0 0;
            }

            .app-header__container {
                flex-direction: row;
            }
        }
        &--tablet--vertical {

            .app-header__branding {
                @include branding_styles('vertical');
            }

            .app-header__logo-link {
                margin: 0 0 var( --branding--logo--gutter ) 0;
            }

            .app-header__container {
                flex-direction: column;
            }
        }
    }

    @include screen('desktop') {
        &--desktop--horizontal {

            .app-header__branding {
                @include branding_styles('horizontal');
            }

            .app-header__logo-link {
                margin: 0 var( --branding--logo--gutter ) 0 0;
            }

            .app-header__container {
                flex-direction: row;
            }
        }
        &--desktop--vertical {

            .app-header__branding {
                @include branding_styles('vertical');
            }

            .app-header__logo-link {
                margin: 0 0 var( --branding--logo--gutter ) 0;
            }

            .app-header__container {
                flex-direction: column;
            }
        }

        &.fixed-type--sticky {
            transition: background 0.5s ease-in-out;
            position: sticky;
            z-index: 2;
            top: 0;

            .admin-bar & {
                top: 32px;
            }
        }
    }

	// Output from the `custom-logo` feature.
	&__logo {}

	// Logo link.
	&__logo-link {
        grid-area: logo;
        display: grid;
        width:  var( --branding--logo--width );
    }


	// The site title.
	&__title {
        grid-area: title;
        align-self: end;
        margin: 0;
        padding: 0;
        color: inherit;
        font-size: var( --branding--title--font-size );
        line-height: var( --branding--title--line-height );
    }

	// Site title link.
	&__title-link {
        color: inherit;
        text-decoration: none;

        &:visited, &:hover {
            color: inherit;
        }

        &:hover {
            text-decoration: none;
        }
    }

	// The site description.
	&__description {
        grid-area: tagline;
        align-self: start;
        margin: 0;
        font-size: var( --branding--tagline--font-size );
        line-height: var( --branding--tagline--line-height );
        margin-top: var( --branding--tagline--gutter );
    }

    // Fixed header styles
    &--fixed {

        @include screen('desktop') {
            position: fixed;
            width: 100%;
            z-index: 2;
            top: 0;
            transform: translateZ(0);

            // customize defaults
            background-color: #000000;

            color: var( --header--fixed--default-color );

            a:hover {
                color: var( --header--fixed--link-color--hover );
            }
        };
    }

    // Container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: var( --header--padding );
        padding-bottom: var( --header--padding );
    }

    &--fullwidth {

        .app-header__container, .menu--top__container, .menu--navbar {
            width: 100%;
            max-width: 100%;
            padding-left: var( --header--padding );
            padding-right: var( --header--padding );
        }
    }

}
