////
/// Header Styles
///
/// @group  Components\Header
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.app-header {

    background-color: var( --colors--accent );
    color: var( --header--text-color );
    width: 100%;
    max-height: 100vh;
    position: relative;

    a:hover {
        color: var( --header--link-color--hover );
    }

    &__branding {

        display: grid;
        align-items: center;

        // Wrapper around the title and description.
        &__content {
            grid-area: content;
        }

        // Prevent branding from being 'squished' when next to a header menu that is expanded.
        // This can push the nav out of the container on mobile, so only do tablet and up.
        @include screen('tablet-and-up') {
            flex-shrink: 0;
        }
    }

    @include screen('mobile') {

        &--mobile {

            &--horizontal {

                .app-header__branding {
                    @include branding_styles('horizontal');
                }

                .app-header__logo-link {
                    margin: 0 var( --header--logo--gutter ) 0 0;
                }

                .app-header__main {
                    flex-direction: row;
                }
            }

            &--vertical {

                .app-header__branding {
                    @include branding_styles('vertical');
                }

                .app-header__logo-link {
                    margin: 0 0 var( --header--logo--gutter ) 0;
                }

                .app-header__main {
                    flex-direction: column;
                }
            }
        }
    }

    @include screen('tablet-and-up') {

        &--tablet {

            &--horizontal {

                .app-header {

                    &__branding {
                        @include branding_styles('horizontal');
                    }

                    &__logo-link {
                        margin: 0 var( --header--logo--gutter ) 0 0;
                    }

                    &__main {
                        flex-direction: row;
                    }
                }
            }

            &--vertical {

                .app-header {

                    &__branding {
                        @include branding_styles('vertical');
                    }

                    &__logo-link {
                        margin: 0 0 var( --header--logo--gutter ) 0;
                    }

                    &__main {
                        flex-direction: column;
                    }
                }
            }
        }

    }

    @include screen('desktop') {

        &--desktop {

            &--horizontal {

                .app-header {

                    &__branding {
                        @include branding_styles('horizontal');
                    }

                    &__logo-link {
                        margin: 0 var( --header--logo--gutter ) 0 0;
                    }

                    &__main {
                        flex-direction: row;
                    }
                }
            }

            &--vertical {

                .app-header {

                    &__branding {
                        @include branding_styles('vertical');
                    }

                    &__logo-link {
                        margin: 0 0 var( --header--logo--gutter ) 0;
                    }

                    &__main {
                        flex-direction: column;
                    }
                }
            }
        }

        &.fixed-type--sticky {

            transition: background 0.5s ease-in-out;
            position: sticky;
            z-index: 2;
            top: 0;

            .admin-bar & {
                top: 32px;
            }
        }
    }

    // Logo link
    &__logo-link {
        grid-area: logo;
        display: grid;
        width:  var( --header--logo--width );
    }

    // Site title
    &__title {
        grid-area: title;
        align-self: end;
        margin: 0;
        padding: 0;
        color: inherit;
        font-size: var( --header--title--font-size );
        line-height: var( --header--title--line-height );
    }

    // Site title link
    &__title-link {

        color: inherit;
        text-decoration: none;

        &:visited, &:hover {
            color: inherit;
        }

        &:hover {
            text-decoration: none;
        }
    }

    // Site description
    &__description {
        grid-area: tagline;
        align-self: start;
        margin: 0;
        font-size: var( --header--tagline--font-size );
        line-height: var( --header--tagline--line-height );
        margin-top: var( --header--tagline--gutter );
    }

    // Fixed header styles
    &--fixed {

        @include screen('desktop') {

            position: fixed;
            width: 100%;
            z-index: 2;
            top: 0;
            transform: translateZ(0);
            background-color: #000000;
            color: var( --header--fixed--text-color );

            a:hover {
                color: var( --header--fixed--link-color--hover );
            }
        }
    }

    // Main Container.
    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: var( --header--padding );
        padding-bottom: var( --header--padding );
    }

    // Has a custom header.
    &--has-custom-header {

        display: grid;
        grid-template-rows: auto 1fr auto;

        &:not(.app-header--fixed) {
            color: var( --header--image--text-color );
        }

        &.app-header--has-topnav {
            grid-template-rows: auto auto 1fr auto;
        }
    }
}