////
/// Custom header component.
///
/// This handles the output of `the_custom_header_markup()` from core WP's
/// `custom-header` feature.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.app-header__content {

    z-index: 1;
    overflow: hidden;

    &__title {
        margin-top: 0;
        margin-bottom: 12px;
        color: inherit;
        text-align: center;
    }

    .app-header--has-custom-header & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: var( --layout-spacing );
    }

    // hide additional header content when fixed header
    .app-header--has-custom-header.app-header--fixed & {
        display: none;
    }

    // Default min heights.
    min-height: 175px;

    @include screen('tablet-and-up') {
        min-height: 250px;
    }

    @include screen('desktop') {
        min-height: 300px;
    }
}
