////
/// Site title styles.
///
/// @group  Components\Header
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.app-header {

    // Site title.
    &__title {

        grid-area: title;
        align-self: end;
        margin: 0;
        padding: 0;
        color: inherit;
        font-size:      var( --header--title--font-size );
        line-height:    var( --header--title--line-height );

        // Site title link.
        &-link {

            color: inherit;
            text-decoration: none;

            &:visited, &:hover {
                color: inherit;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}