////
/// Audio block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-audio {

	margin: 2em 0;

	audio {
		width: 100%;
    }

    // Set the background in Chrome.
    // Every browser has it's own interface for this
    audio::-webkit-media-controls-panel {
        background-color: var( --colors--theme--meta-light );
    }
}
