////
/// Button block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-button {

    // button block only
    &__link:hover {
        color: var( --colors--theme--accent-contrast );
    }

    margin-bottom: var( --typography--body--block-spacing );

    &.aligncenter {
        text-align: center;
    }
}


.wp-block-button__link, .taproot-button, .comment-respond__submit {
    display: inline-block;
    box-shadow:      none;
    cursor:          pointer;
    text-align:      center;
    text-decoration: none;
    white-space:     normal;
    word-break:      break-all;
    border-style:    solid;
    border-width:    0;
    font-size:       0.9em;
    line-height:     2.5em;
    margin:          0;
    padding:         0 1.25em;
    transition: all 0.4s ease-in-out;
    background-color: var( --colors--theme--accent );
    color: var( --colors--theme--accent-contrast );

    &:visited {
        color: var( --colors--theme--accent-contrast );
    }
    &:hover {
        text-decoration: none;
    }
}
