////
/// Button block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-button {

    margin-bottom: var( --block-spacing );

    &__link:hover {
        color: var( --colors--accent-contrast );
    }

    &.aligncenter {
        text-align: center;
    }

    &.is-style-squared .wp-block-button__link {
        border-radius: 0;
    }

    &.is-style-rounded .wp-block-button__link {
        border-radius: 100px;
    }

    &.is-style-squared, &.is-style-rounded {
        .wp-block-button__link {
            border-width: 0;

            &.has-background:hover {
                box-shadow: inset 0 0 0 99em rgba(0, 0, 0, 0.2);
            }
        }
    }
}
