////
/// Columns block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-columns {
    display: flex;
    flex-direction: column;

    &.alignfull {
        padding: 0 var(--layout--block-spacing--large);
    }
}

// Individual columns.
.wp-block-column {
    flex: 1;
}


// Editor specific styling. Make sure columns span correctly.
.editor-inner-blocks {
    flex: 1;
}

@include screen('tablet-and-up') {

    .wp-block-columns {
        flex-direction: row;

        // Add styles based on the number of columns. Supports 2-6 columns.
        &.has-2-columns {}

    }

    // Individual columns.
    .wp-block-column {
        margin-right: var(--layout--block-spacing--large);
        &:last-child {
            margin-right: 0;
        }
    }
}
