////
/// Paragraph block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-paragraph {


}

p.has-background {
    padding: 0.6em;
}


// drop cap styles
.has-drop-cap:first-letter {
    float: left;
    font-size: calc( 2em * var(--typography--body--line-height) );
    line-height: 0.75;
    padding-top: 0.125em;
    padding-right: 0.125em;
}
