////
/// Preformatted block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-preformatted {
    background-color: var( --colors--theme--meta-light );
}
