////
/// Separator block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-separator {

    &.is-style-dots {
        border-top: 4px dotted;
    }

    &.is-style-wide {
        border-top: 4px solid;
    }
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid;
    margin: var( --block-spacing ) 0;
    color: var( --colors--meta-medium );
    background: none;
}
