////
/// Subhead block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-subhead {
	font-size:  1.125em;
	font-style: italic;
	opacity:    0.75;
}
