


.wp-block-media-text {

    margin: var(--layout--block-spacing--large) 0;

    &__content {
        padding: 2em;

        :last-child {
            margin-bottom: 0;
        }
        p:empty:last-child {
            margin-top: calc( -1 * var(--typography--body--block-spacing) );
        }
    }
    &__media {
        margin-bottom: 0;
        line-height: 0;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 768px) {
        display: block;

        &__media {
            height: 40vw;
        }
    }

    @media (min-width: 769px) {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "media-text-media media-text-content";

        &.has-media-on-the-right {
            grid-template-columns: auto 50%;
            grid-template-areas: "media-text-content media-text-media";
        }

        &__media {
            position: relative;
            grid-area: media-text-media;

            img {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
            }
        }

        &__content {
            grid-area: media-text-content;
        }
    }
}

