////
/// Alignment classes.
///
/// Primarily, we use this to build out style rules for the core WordPress
/// `.align*` classes.
///
/// @group  Utilities
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

// Left alignment.
.alignleft {
	@media( min-width: 480px ) {
		float:     left;
		margin:    0 var( --typography--body--block-spacing ) var( --typography--body--block-spacing ) 0;
		max-width: 50%;
	}
}


// Right alignment.
.alignright {
	@media( min-width: 480px ) {
		float:     right;
		margin:    0 0 var( --typography--body--block-spacing ) var( --typography--body--block-spacing );
		max-width: 50%;
	}
}

// Center alignment.
.aligncenter {
	margin-left:  auto;
	margin-right: auto;
	clear:        both;
}
