////
/// Entry - Archive items
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.entry {

    // Archive items
    &--archive {

        border-top: 1px solid var( --colors--meta-medium );
        padding-top: var( --block-spacing );

        &:last-of-type {
            border-bottom: 1px solid var( --colors--meta-medium );
        }
    }

    // Archive item link
    &__link {
        font-size: var( --archive-entry--link--font-size );
    }

    // Sticky posts.
    &.is-sticky {
        border: 1px solid var( --colors--meta-medium );
        border-bottom: none;
        @extend .has-block-padding;

        > :last-child {
            margin-bottom: 0;
        }
    }
}
