////
/// Entry - Archive items
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.entry {

    // Archive items
    &--archive {

        border-top: 1px solid var( --colors--meta-medium );
        padding-top: var( --block-spacing );

        &:last-of-type {
            border-bottom: 1px solid var( --colors--meta-medium );
        }
    }

    // Archive item titles
    &__title--archive {

        padding-top:    0;
        margin-bottom:  0.2em;
        line-height:    1.13em;
        font-size:      var( --archive-entry--title--font-size );
        color:          var( --archive-entry--title--link-color );

        a, a:visited {
            color: inherit;
        }

        a:hover {
            color:      var( --archive-entry--title--link-color--hover );
        }
    }

    // Archive Item meta
    &__byline--archive {

        font-size:      var( --archive-entry--meta--font-size );
        color:          var( --archive-entry--meta--text-color );

        a:link, a:visited {
            color: inherit;
        }

        a:hover {
            color: var( --colors--accent );
        }

        .taproot-icon {
            color: var( --archive-entry--meta--icon-color );
        }
    }

    // Archive item text content
    &__content, &__summary {

        &--archive {
            > :first-child {
                margin-top: 0;
            }
            &:last-child :last-child {
                margin-bottom: var( --text-spacing );
            }
        }
    }

    // Archive item featured image
    &__image--archive {
        margin-bottom: var( --block-spacing );
    }

    // Archive item header
    &__header--archive {
        margin-bottom: 1em;
    }

    // Archive item footer
    &__footer--archive {
        display: flex;
        flex-direction: column;
        margin-bottom: var( --block-spacing );
    }

    // Archive item link
    &__link {
        font-size: var( --archive-entry--link--font-size );
    }


    // Sticky posts.
    &.sticky {
        border: 1px solid var( --colors--meta-medium );
        border-bottom: none;
        @extend .has-block-padding;
    }
}
