////
/// Entry - Byline
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.entry__byline {

    display: flex;
    flex-wrap: wrap;
    margin-top: 0;

    &__item {
        margin-right: 0.8em;
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }

    .taproot-icon {
        margin-right: 0.2em;
    }

    // Single meta
    &--single {

        margin: 0;
        margin-top: 0.4em;
        font-size:      var( --entry--meta--font-size );
        color:          var( --entry--meta--text-color );

        .taproot-icon {
            color:      var( --entry--meta--icon-color );
        }

        a, a:visited {
            color: inherit;
        }
    }

    // Archive Item meta
    &--archive {

        font-size:      var( --archive-entry--meta--font-size );
        color:          var( --archive-entry--meta--text-color );

        a:link, a:visited {
            color: inherit;
        }

        a:hover {
            color: var( --colors--accent );
        }

        .taproot-icon {
            color: var( --archive-entry--meta--icon-color );
        }
    }
}
