////
/// Entry Single Component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.entry {

	// Sticky posts.
	&.sticky {}

	// Featured image
	&__image {
        margin-bottom: 1em;
    }

	// Header wrapper
	&__header--single {
    }

	// Entry title
	&__title--single {
        padding-top: 0;
        margin-bottom: 0.2em;
        font-size: var( --posts--title--font-size );
        line-height: var( --posts--title--line-height );
    }


	// Meta wrappers.
	&__byline--single {

        font-size: var( --posts--meta--font-size );
        color: var( --posts--meta--color );

        a, a:visited {
            color: inherit;
        }

        a:hover {
            color: var( --colors--theme--accent );
        }

        .taproot-icon {
            color: var( --posts--meta--icon--color );
        }
    }

    &__footer--single {
        margin-bottom: var(--layout--block-spacing--large);
    }


	// Individual metadata items.
	&__author--single {}

	&__published--single {}

	&__comments--single {}

    &__terms--single {}


}
