////
/// Entry component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.entry {

    margin-left: auto;
    margin-right: auto;

    &-term-group {
        display: inline-block;
        width: 100%;
    }
}
