////
/// Entry Single Component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.entry {

	// Header wrapper
	&__header--page {
        margin-bottom: var(--layout--block-spacing--large);
    }

	// Entry title
	&__title--page {
        font-size: var( --pages--title--font-size );
        line-height: var( --pages--title--line-height );
        padding-top: 0;
        margin-bottom: 0;
    }


    &__footer--page {
        margin-bottom: var(--layout--block-spacing--large);
    }
}
