////
/// Entry - Single Posts
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.entry {

    // Single featured image
    &_image {
        display: block;
        margin-bottom: var( --block-spacing );
    }

    // Archive item featured image
    &__image--archive {
        margin-bottom: var( --block-spacing );
    }
}

