////
/// Additional resets and defaults
///
/// This file contains additional normalization styles.
///
/// @group  Generic
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


p, h1, h2, h3, h4, h5, h6, ol, ul, li, hr, figure, blockquote {
    margin: 0;
    font-weight: normal;
}


img {
	max-width: 100%;
	height: auto;
}

figure {
    max-width: 100%;
}


dfn,
cite,
em,
i {
    font-style: italic;
}

code,
kbd,
tt,
var {
    font-size: 0.9375em;    
}

pre,
code,
kbd,
tt,
var {
    font-family: monospace;
}

pre > code { background-color: transparent; }

abbr,
acronym {
    cursor: help;
}

mark,
ins {
    text-decoration: none;
}

big {
    font-size: 125%;
}

q {
    quotes: "“" "”" "‘" "’";
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
    padding: 0;
}
