////
/// Additional resets and defaults
///
/// This file contains additional normalization styles.
///
/// @group  Generic
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


body {

    overflow-x: hidden;

    // prevent top and bottom elastic scrolling in Chrome.
    // This does not work yet in Safari
    overscroll-behavior: auto none;

    // used to layer slide in mobile navigation
    z-index: 1;

    // used for mobile navigation
    &.noscroll {
        overflow: hidden;
    }
}

p, h1, h2, h3, h4, h5, h6, ol, ul, li, hr, figure, blockquote {
    margin: 0;
    font-weight: normal;
}


img {
    max-width: 100%;
    height: auto;
}

figure {
    max-width: 100%;
}


dfn,
cite,
em,
i {
    font-style: italic;
}

code,
kbd,
tt,
var {
    font-size: 0.9375em;
}

pre,
code,
kbd,
tt,
var {
    font-family: monospace;
}

pre > code { background-color: transparent; }

pre {
    max-width: 100%;
    overflow: auto;
    padding: 2em;
    font-size: 0.862em;

    & > :first-child {
        padding-top: 0;
        margin-top: 0;
    }
}

abbr,
acronym {
    cursor: help;
}

mark,
ins {
    text-decoration: none;
}

big {
    font-size: 125%;
}

q {
    quotes: "“" "”" "‘" "’";
}

dt {
    font-weight: bold;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

dd + dt {
    margin-top: var( --block-spacing--small );
}


// Fieldsets.
fieldset {
    margin:  0 0 1.5rem;
    padding: 1.5rem 1.5rem 0;
    border:  1px solid;
    border-color: var( --colors--meta-medium );
}

// Legends.
legend {
    padding: 0.375rem 1.5rem;
    background-color:   var( --colors--meta-light );
    border-color:       var( --colors--meta-medium );

    font: {
        size: 0.8em;
        weight: 700;
    }

    border: 1px solid;
}

// Labels.
label {
    font: {
        weight: 400;
    }
    cursor: pointer;
}

// Inputs
input {
    display: block;

    &[type="checkbox"],
    &[type="radio"] { display: inline-block; }
}

input, textarea, select {
    color: var( --colors--meta-dark );
}

input,
textarea,
button,
select {
    font-family: inherit;
}

label,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    cursor: pointer;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    display: inline-block;
    text-shadow: none;
}

input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select,
option {
    width: 100%;
    box-sizing: border-box;
    padding: 0.625em 1em;
    background: rgba( 255, 255, 255, 0.6 );
    border: 1px solid;
    border-color: var( --colors--meta-medium );

    &:focus {
        background: #ffffff;
    }
}

input[type="number"] { width: auto; }

input[name="post_password"] {
    margin-bottom: 1.5rem;
}

select[disabled], input[disabled] {
    background: transparent;
}

textarea {
    min-height:  200px;
}

ul, ol {
    list-style-position: outside;
    padding-left: 1.1em;
}

ul {
    list-style-type: disc;
}

li > ul, li > ol {
    margin-left: 1em;
    margin-bottom: 0;
}
