////
/// Editor - Post Title Styles
///
/// These styles apply to the table block only in the editor.
///
/// @group  Styles
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.editor-post-title__input {
    font-family: inherit;
    font-weight: normal;
    color:          var( --entry--title--text-color );
    font-size:      var( --entry--title--font-size );
    line-height:    var( --entry--title--line-height );
}
