p { margin: 0 0 1.5em }
img { max-width: 100%; height: auto; vertical-align: middle; }
pre { margin: 1.5em 0; padding: 1.5em; color: #2080ad; background-color: #fafafa; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
blockquote { font-style: italic; margin: 1.5em 2em; padding-left: 1.5em; border-left-width: 0 0 0 3px; border-left-style: solid; border-left-color: #13aff0; }