////
/// Component Custom Properties
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

:root {
    --navigation--footer--font-size: 1em;
    --navigation--footer--line-height: 1.2;
    --navigation--footer--height: 3rem;
    --navigation--footer--color: white;
}
