////
/// Post Meta block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.taproot-meta {

    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;

    &__item {
        margin-right: 1em;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;

        &__label, .taproot-icon {
            margin-right: 0.5em;
        }
    }

    &__terms {
        a {
            white-space: nowrap;
            color: inherit;
        }
    }

    &.has-text-align {
        &-right {
            justify-content: flex-end;
        }

        &-center {
            justify-content: center;
        }
    }

    &.is-style-stacked {
        flex-direction: column;
    }
}
