////
/// Post Title block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.taproot-title-block {
    padding-top: 0;
    margin-bottom: 0.2em;
    font-size: var(--posts--title--font-size);
    line-height: var(--posts--title--line-height);
}
