////
/// Image block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-image {
    img {
        max-width: 100%;
        display: block;
    }
    figure {
        &.alignleft,
        &.alignright {
            margin-top: 0;
        }
    }

    &.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    &.is-resized {
        width: min-content;

        // Emulate min-content for Edge and IE11
        display: -ms-inline-grid;
        -ms-grid-columns: min-content;

        figcaption {
            -ms-grid-row: 2;
        }

        img {
            max-width: none;
        }
    }
}
