////
/// Editor - Post Meta Styles
///
/// These styles apply to the post meta block in the editor.
///
/// @group  Editor
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.breadcrumbs {
    margin-bottom: var(--layout--block-spacing--large);
    word-wrap: break-word;
    word-break: normal;
    color: var( --colors--theme--meta-dark );

    a:link, a:visited {
        color: inherit;
    }

    a:hover {
        color: var( --colors--theme--accent );
    }

    // The breadcrumb title
    &__title {
        display: none;// fix this to be good with screen reader text
    }

    // The breadcrumb list
    &__trail {
        display: flex;
        justify-content: inherit;
        flex-wrap: wrap;
        list-style : none;
        margin: 0;
        padding: 0;
    }

    // Individual item
    &__crumb {
        margin-left :  0.75em;

        &:first-of-type { margin-left  : 0; }
        &:last-of-type  { margin-right : 0; }

        &::before {
            content      : "\00bb";
            margin-right : 0.75em;
            line-height: 1;
            vertical-align: 1px;
        }

        &:first-of-type::before { display: none; }

        // Home item
        &--home {
            display: flex;
            align-self: center;

            a {
                display: flex;
                align-items: center;
            }

            .taproot-icon {
                margin-top: -0.125em;
            }
        }
    }

    &.has-separators {
        padding: 0.4em 0;
        border-top: 1px solid var( --colors--theme--meta-medium );
        border-bottom: 1px solid var( --colors--theme--meta-medium );
    }
}
