////
/// Block imports.
///
/// Editor only styles for blocks in the block editor.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


// import global block styles
@import 'styles';
