////
/// Customize controls stylesheet.
///
/// This is the primary stylesheet for the customize controls panel. Use this
/// for importing styles for custom panels, sections, and controls.
///
/// @group  Styles
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

// Uncomment any of the below to import styles for specific controls if using
// the `hybrid-customize` add-on.

// @import '~hybrid-customize/scss/controls/palette';
// @import '~hybrid-customize/scss/controls/radio-image';

// Import `customize-controls` partials.

@import 'customize-controls/_index';
