////
/// Site Background Color
///
/// @group  Components\Background
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.sidebar {

    z-index: 1;
    order: 2;
    position: relative;
    flex: 1 0 100%;
    font-size:              var(--sidebar--font-size);
    line-height:            var(--sidebar--line-height);
    padding:                var(--layout--container--padding) 0;
    background-color:       var(--sidebar--background-color);
    color:                  var(--sidebar--text-color);

    a:link, a:visited {
        color:              var(--sidebar--link-color);
    }

    a:hover, a:active {
        color:              var(--sidebar--link-color--hover);
    }

    &:before {
        content: " ";
        background-color:   var(--sidebar--background-color);
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: calc( 50% - 50vw );
        z-index: -1;
    }

    // Desktop Styles
    @include screen('desktop') {

        box-sizing: content-box;
        flex: 1 0 auto;

        width:              var(--sidebar--min-width);
        padding:            var(--layout--container--padding);

        &--right {
            padding-right: 0;
            order: 2;
            &:before {
                right: auto;
                left: 0;
            }
        }

        &--left {
            padding-left: 0;
            order: 0;
            &:before {
                right: 0;
                left: auto;
            }
        }

        * {
            box-sizing: border-box;
        }
    }

    .widget {
        margin-left: auto;
        margin-right: auto;
        max-width:          var(--layout--content--max-width);
        margin-bottom:      var(--sidebar--block-spacing);
    }
}
