////
/// Customize controls styles.
///
/// Styles should focus on the customize controls panel. This covers panels,
/// sections, and controls.
///
/// @group  CustomizeControls
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.customize-control-checkbox {
        
    font-weight: 600; 
    font-size: 12px; 
    text-transform: uppercase; 
    margin-top: 0.6em;


    .customize-inside-control-row {
        display: flex;
        align-items: center;        
        margin-left: 0;
        @extend %shadow-box;  
        padding: 10px; 
    }      

    input[type=checkbox] {
        margin: 0;
        margin-right: 10px;
        display: inline-flex;
        width: 20px;
        height: 20px;
        border: none;
        box-shadow: none;
        background: #EEEEEE;

        &:checked:before { 
            margin: 0;
            width: inherit;
            height: inherit;
            box-sizing: border-box;
            margin-left: -1px;
        }        
    }

} 

// don't add top margin when first control in a section
.section-meta + .customize-control-checkbox {
    margin-top: 0;
}
