////
/// General Customizer Styles
///
/// @group  CustomizeControls
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


#customize-preview > iframe {
    position: static;
}

body .wp-full-overlay #customize-preview iframe.resizing {
    max-width: 100%!important;
}

// style the logo picker
#customize-control-custom_logo {
    .thumbnail-image {
        text-align: center;
        img {
            max-height: 175px;
        }
    }
}
