////
/// General Customizer Styles
///
/// @group  CustomizeControls
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


#customize-preview > iframe {
    position: static;
}

body .wp-full-overlay #customize-preview iframe.resizing {
    max-width: 100%!important;
}

.devices .preview-mobile-landscape:before {
    transform: rotate(90deg) scaleY(-1);
}
