////
/// Radio Control Styles
///
/// @group  CustomizeControls
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


// radio control styles
.customize-control-radio {

    .customize-control-title {
        margin-bottom: 4px;
    }

    .customize-inside-control-row {
        background: white;
        margin: 0;
        height: 36px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        margin-bottom: 1px;
        padding: 0 10px;
        align-items: center;
        flex-direction: row-reverse;

        label {
            margin: 0;
            line-height: 36px;
            flex: 100%;
        }

        input {
            margin: 0;
            line-height: 36px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

