////
/// Customize controls styles.
///
/// Styles should focus on the customize controls panel. This covers panels,
/// sections, and controls.
///
/// @group  CustomizeControls
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.customize-control-select {

    select { 
        width: 100%; 
        font-size: 14px; 
        height: 36px; 
        line-height: 36px;        
        color: #32373c; 
        border: none;
        margin: 0!important;  
        -webkit-appearance: none;
        -moz-appearance: none;  
        padding: 0 10px;
        cursor: pointer;
        @extend %shadow-box;

        background-image: $inverted-triangle;
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: right 10px center;

        &:focus { 
            border: none;
            outline: none;
        }        
    }

}
