////
/// Component Custom Properties
///
/// @group  Components/Buttons
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

:root {

    --content-width: 640px;
    --container-width: 90vw;
    --container-max-width: 1060px;
    --layout-spacing: calc( ( 100vw - var( --container-width ) ) / 2 );
    --layout-spacing-inverse: calc( var( --layout-spacing ) * -1 );
}
