////
/// Component Custom Properties
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

:root {

    // Mobile/default
    --layout--container--width: 90vw;
    --layout--container--width-as-decimal: 0.9;
    --layout--container--width-as-vw: 90vw;
    --layout--container--width-as-percentage: 90%;
    --layout--container--max-width: 1060px;
    --layout--container--padding: 5vw;
    --layout--content--max-width: 640px;
    --layout--content--padding: 2rem;
    --layout--block-spacing--large: 2rem;

    // Tablet
    @include screen('tablet') {
        --layout--content--padding: 2.5rem;
    }

    // Desktop
    @include screen('desktop') {
        --layout--content--padding: 3rem;
    }
}
