////
/// Layout - entry
///
/// Layout styles to add spacing to entry items where applicable.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

// First item
.entry__content > :first-child {
    margin-top: 0;
}

// Last item
.entry__content:last-child > :last-child {
    margin-bottom: 0;
}

// For no sidebar layouts
.app-main--full {

    .entry__content:first-child > .alignfull:first-child {
        margin-top: var( --layout-padding-inverse );
    }

    .entry__content:last-child > .alignfull:last-child {
        margin-bottom: var( --layout-padding-inverse );
    }
}

// Sidebar layouts
.app-main--sidebar-right, .app-main--sidebar-left {

    @include screen('tablet-and-under') {

        .entry__content:first-child > .alignfull:first-child {
            margin-top: var( --layout-padding-inverse );
        }

        .entry__content:last-child > .alignfull:last-child {
            margin-bottom: var( --layout-padding-inverse );
        }
    }
}
