////
/// Editor - Pre Block Styles
///
/// These styles apply to the pre block only in the editor.
///
/// @group  Styles
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

// Import component styles inside the editor styles wrapper
.editor-styles-wrapper {
    @import 'block';

    .wp-block-preformatted {

        @extend .has-block-padding;

        pre {
            color: inherit;
            padding: 2em;
            font-size: 0.862em;
        }
    }
}
