////
/// Default CSS Vars
///
/// These are used in both the theme css file
/// and the block editor styles
///
/// @group  custom-properties
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


& {
    --typography--body--text-color: #8c8c8c;
    --colors--theme--accent: #00a0d1;
    --colors--theme--accent-contrast: #ffffff;
    --colors--theme--meta-light: #f4f4f4;
    --colors--theme--meta-medium: #d8d8d8;
    --colors--theme--meta-dark: #a5a5a5;
    --typography--links--color: var( --colors--theme--accent );
    --typography--links--color--visited: var( --typography--links--color );
    --typography--links--color--hover: var( --typography--links--color );
    --typography--links--color--active: var( --typography--links--color--hover );
    --colors--sidebar--background-color: var( --colors--theme--meta-light );
    --colors--sidebar--text-color: var( --typography--body--text-color );
    --colors--sidebar--accent-color: var( --colors--theme--accent );
    --colors--sidebar--link-color: var( --colors--sidebar--accent-color );
    --colors--sidebar--link-color--hover: var( --colors--sidebar--accent-color );
    --header--default-color: var( --colors--theme--accent-contrast );
    --header--fixed--default-color: var( --header--default-color );
    --header--hero--default-color: var( --header--default-color );
    --header--link-color--hover: var( --colors--theme--accent-contrast );
    --header--fixed--link-color--hover: var( --header--link-color--hover );
    --header--hero--link-color--hover: var( --header--link-color--hover );
}
