////
/// App component.
///
/// This is the wrapper for the entire page layout.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.app {

    // center in body
    margin: 0 auto;

    // styles for the slide navigation
    position: relative;
    z-index: 2;

    &-main {
        background-color: white;
        margin: 0 auto;
        order: 1;
        width: 100%;
        min-width: 0; // this is to fix problems with flexbox and pre elements breaking the layout
    }

    &-content {

        background-color: white;
        margin: 0 auto;

        // needed this for safari, to prevent the sidebar in fullwidth layout from going off screen
        overflow: hidden;

        &__container {

            display: flex;

            @include screen('tablet-and-under') {
                flex-direction: column;
            }
        }
    }
}

.container {
    margin: 0 auto;
    position: relative;
}
