////
/// Component: Typography
///
/// @group  Components\Typography
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

// Map all editor font sizes
@function editor-font-sizes() {

    @return (
        small   : 14px,
        regular : 16px,
        large   : 23px,
        larger  : 32px
    );
}

// Get a single font size value
@function editor-font-size( $name ) {
    @return map-get( editor-font-sizes(), $name );
}

/// Loops through the editor font sizes and adds utility classes for them. T
@each $font-size-name, $font-size-value in editor-font-sizes() {

    .has-#{ $font-size-name }-font-size {
        font-size: #{ $font-size-value };
    }
}

// Remove margin for larger font size
.has-larger-font-size {
    margin: 0;
}
