////
/// Comments component.
///
/// This component styles the comments interface on single posts.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.comments {

    // Comments list wrapper.
    &__list {

        list-style: none;
        padding: 0;

        // Children lists
        .children {
            list-style: none;
            padding-left: var( --block-spacing );

            // mobile styles
            @include screen('mobile') {
                padding-left: 0.62em;
            }
        }
    }
}
