////
/// Component Custom Properties
///
/// @group  Components/Buttons
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

:root {
    --buttons--font-family:         inherit;
    --buttons--background-color:    var( --colors--accent );
    --buttons--text-color:          var( --colors--accent-contrast );
    --buttons--font-size:           0.9em;
    --buttons--line-height:         2.5;
    --buttons--padding:             1.25em;
    --buttons--border-radius:       0;

    // Hover colors
    --buttons--hover--background-color: var( --buttons--background-color );
    --buttons--hover--text-color:       var( --buttons--text-color );
}
