////
/// Nav menu component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


// mixin to generate mobile nav styles
@mixin menu-navbar-mobile-styles( $screen ) {

    &.mobile-at-#{$screen} {
        .menu--navbar__container {
            height: 3.2em;
            display: flex;
            align-items: center;
        }  
        
        &.menu--right {
            .menu--navbar__container {
                justify-content: flex-end;
            }  
        }
    }
} 


// mixin to generate desktop nav styles
@mixin menu-navbar-desktop-styles( $screen ) {

    &.mobile-at-#{$screen} {
        .menu__sub-menu {
            background-color: var( --colors--theme--accent );
            border-color: var( --colors--theme--accent );            
            color: var( --colors--theme--accent-contrast );
        }
    }
} 


.menu--navbar {
    
    &__link {    
        font-size: var( --nav--navbar--font-size );
        line-height: var( --nav--navbar--line-height );     
    }

    // needed for custom header image
    position: relative;


    /* 
     * Mobile Styles
     */

    // always mobile
    @include menu-navbar-mobile-styles( 'always' );

    // mobile only styles 
    @include screen('mobile') {
        @include menu-navbar-mobile-styles( 'mobile' );       
    };

    // tablet and under styles 
    @include screen('tablet-and-under') {
        @include menu-navbar-mobile-styles( 'tablet-and-under' );
    };    

    /* 
     * Desktop Styles
     */

    // never mobile styles
    @include menu-navbar-desktop-styles( 'never' );

    // mobile only styles 
    @include screen('tablet-and-up') {
        @include menu-navbar-desktop-styles( 'mobile' );
    };    

    // tablet and under styles 
    @include screen('desktop') {
        @include menu-navbar-desktop-styles( 'tablet-and-under' );
    };
}
