////
/// Nav menu component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


// mixin to generate mobile nav styles
@mixin menu-top-mobile-styles( $screen ) {

    &.mobile-at-#{$screen} {

        .container {
            flex-direction: column-reverse;
            width: 90%;
            padding: 0.5em 0;
        }

        .menu__items, .menu__item {
            width: 100%;
        }
    }
}

.menu--top {

    z-index: 2;

    &__link {
        font-size: var(--nav--top--font-size );
        line-height: var(--nav--top--line-height );
    }

    // always mobile
    @include menu-top-mobile-styles( 'always' );

    // mobile only styles
    @include screen('mobile') {
        @include menu-top-mobile-styles( 'mobile' );
    };

    // tablet and under styles
    @include screen('tablet-and-under') {
        @include menu-top-mobile-styles( 'tablet-and-under' );
    };
}


