/**
 * Searchform
 */

.searchform {

    &__inputs {
        display: flex;
    }

    input[type="search"] {
        border-right: none;
        max-width: calc(100% - 2.75em);
    }

    &__submit {
        border: transparent;
        flex: 0 0 2.75em;
        padding: 0;
        background-color:   var( --colors--accent );
        color:              var( --colors--accent-contrast );
    }
}
