////
/// Component Custom Properties
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

:root {
    --navigation--header--font-size: 1em;
    --navigation--header--line-height: 1.2;
    --navigation--header--height: 2.5em;
    --navigation--header--color: var(--header--text-color);
    --navigation--header-mobile--background-color: #424242;
}
