////
/// App main component.
///
/// Wraps the page's main output. This is generally the post list or a single
/// post and its comments.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.app-main {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    order: 1;
    padding: var(--layout--container--padding) 0;


    // desktop styles
    @include screen('desktop') {
        padding: var(--layout--container--padding);

        &--sidebar-right {
            padding-left: 0;
        }
        &--sidebar-left {
            padding-right: 0;
        }
        &--full {
            padding-left: 0;
            padding-right: 0;
        }
    }
}