////
/// App component.
///
/// This is the wrapper for the entire page layout.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.app {

    // center in body
    margin: 0 auto;

    // styles for the slide navigation
    position: relative;
    z-index: 2;

    .boxed-layout & {
        max-width: var(--layout--container--max-width);
    }
}
