////
/// Archive header component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.archive-header {

	&__title {
        padding-top: 0;
        margin-bottom: var(--layout--block-spacing--large);
        font-size: var( --blog--title--font-size );
        line-height: var( --blog--title--line-height );
    }

	&__description {}
}
