////
/// Container component.
///
/// Containers control the width and max width of component content
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.container {
    margin: 0 auto;
    position: relative;
    width: var(--layout--container--width);
    max-width: var(--layout--container--max-width);
}


@include screen('desktop') {

    // fixed elements
    .boxed-layout.app-header--has-fixed, .boxed-layout.app-footer--has-fixed {
        width: calc(100vw - 2 * var(--layout--boxed--outer-padding) );
        max-width: var(--layout--container--max-width);
    }
}
