////
/// Custom header component.
///
/// This handles the output of `the_custom_header_markup()` from core WP's
/// `custom-header` feature.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-custom-header {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;

	// Header image.
	img {
        display: block;
        object-fit: cover;
        max-width: none;
        height: 100%;
        width: 100%;        
    }

	// Header video.
	video {}

	// Video play/pause button.
	&-video-button {}

	// Specific play/pause classes. Note that the button in core WP will have
	// the state of what's happening with the video rather than what action
	// the button performs.  The `*-play` class is applied to the "Pause"
	// button and the `*-pause` class is applied to the "Play" button.
	&-video-play {}
	&-video-pause {}
}


.app-header:not(.app-header--fixed) { 

    // we probably need to add this back for custom headers to work
    // removed for sticky header
    // position: relative;

    .home.custom-header & {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

// fixed header styles
.app-header--fixed {

  height: auto;

  .wp-custom-header {
    display: none;
  }
}


@include screen('mobile-only') {
    .home.custom-header .app-header:not(.app-header--fixed) { 
        height: 62vh;
    }
} 


@include screen('tablet-and-up') {
    .home.custom-header .app-header:not(.app-header--fixed) { 
        height: calc( 100vh );
    }  
    
    .home.custom-header.admin-bar .app-header:not(.app-header--fixed) { 
        height: calc( 100vh - 32px);
    }
}