////
/// Entry component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.entry {

    margin-left: auto;
    margin-right: auto;

    // Featured image.
    &_image {
        margin-bottom: var( --typography--body--block-spacing );
    }

    // Entry titles
    &__title {

        margin-top: 0;

        &--single {
            padding-top: 0;
            margin-bottom: 0.2em;
        }

        // Page Titles
        &--page {
            padding-top: 0;
            margin-bottom: 0;
        }

        // Archive Titles
        &--archive {

            padding-top: 0;
            margin-bottom: 0.2em;
            font-size: 1.8em;
            line-height: 1.13em;

            a, a:visited, a:hover {
                color: inherit;
            }
        }
    }

    // Content
    &__content, &__summary {

        @extend %clearfix;

        &--archive {
            &:last-child :last-child {
                margin-bottom: var( --layout--block-spacing--large );
            }
        }
    }

    &-term-group {
        display: inline-block;
        width: 100%;
    }

    // Meta wrappers.
    &__byline {

        display: flex;
        flex-wrap: wrap;

        &__item {
            margin-right: 0.8em;
            flex-shrink: 0;
            display: flex;
            align-items: center;
        }

        .taproot-icon {
            margin-right: 0.2em;
        }

        &--single {

            a, a:visited {
                color: inherit;
            }
        }

        &--archive {

            color: var( --colors--theme--meta-dark );

            a:link, a:visited {
                color: inherit;
            }

            a:hover {
                color: var( --colors--theme--accent );
            }

            .taproot-icon {
                color: inherit;
            }
        }
    }

    // Featured image
    &__image {
        margin-bottom: 1em;

        &--archive {
            margin-bottom: 1em;
        }
    }

    &__header {

        &--page {
            margin-bottom: var( --layout--block-spacing--large );
        }

        &--archive {
            margin-bottom: 1em;
        }
    }

    &__footer {

        &--single {
            margin-bottom: var( --layout--block-spacing--large );
        }

        &--page {
            margin-bottom: var( --layout--block-spacing--large );
        }

        &--archive {
            display: flex;
            flex-direction: column;
            margin-bottom: var( --layout--block-spacing--large );
        }
    }

    &--archive {

        border-top: 1px solid var( --colors--theme--meta-medium );
        padding-top: var( --layout--block-spacing--large );

        &:last-of-type {
            border-bottom: 1px solid var( --colors--theme--meta-medium );
        }
    }

    // Sticky posts.
    &.sticky {
        border: 1px solid var( --colors--theme--meta-medium );
        border-bottom: none;
        padding: 1.5em 1.5em 1px 1.5em;
    }
}

// Archive Titles
.archive-header__title {
    padding-top: 0;
    margin-bottom: var( --layout--block-spacing--large );
}
