////
/// Nav menu component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


// mixin to generate mobile nav styles
@mixin menu-header-mobile-styles( $screen ) {

    &.mobile-at-#{$screen} {

        // if no logo or titles, fill the space and add padding. 
        &:first-child {
            flex: 100%;
            justify-content: flex-end;
            padding: 1em 0;
        }  
                
        &.mobile-type-dropdown-slide, &.mobile-type-dropdown-fade {
            position: absolute;
            justify-content: flex-end;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;   
            padding: inherit; 
    
            .menu__items {
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
            }
        }        
    }
}


// mixin to generate desktop nav styles
@mixin menu-header-desktop-styles( $screen ) {

    &.mobile-at-#{$screen} {
        flex: 1 1 100%;
    }
}


.menu--header {
    
    &__link {    
        font-size: var( --nav--header--font-size );
        line-height: var( --nav--header--line-height );
        
        &:link, &:visited {
            color: inherit;
        }
    }

    .menu--toggle {
        margin-left: 0.6em;
        order: 2;
    }
    
    // Mobile Styles

    // always mobile
    @include menu-header-mobile-styles( 'always' );

    // mobile only styles 
    @include screen('mobile') {
        @include menu-header-mobile-styles( 'mobile' );       
    };

    // tablet and under styles 
    @include screen('tablet-and-under') {
        @include menu-header-mobile-styles( 'tablet-and-under' );
    };    


    // Desktop Styles

    // never mobile styles
    @include menu-header-desktop-styles( 'never' );

    // mobile only styles 
    @include screen('tablet-and-up') {
        @include menu-header-desktop-styles( 'mobile' );
    };    

    // tablet and under styles 
    @include screen('desktop') {
        @include menu-header-desktop-styles( 'tablet-and-under' );
    };

}
