////
/// Nav menu component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


// mixin to generate mobile nav styles
@mixin menu-navbar-mobile-styles( $screen ) {

    &.mobile-at-#{$screen} {

        .menu__items > .menu__item:not(:first-of-type), .menu__sub-menu .menu__item {
            border-top-width: 1px;
            border-top-style: solid;
        }

        .menu__sub-menu a:before {
            content: '';
            display: inline-block;
            width: 1.25em;
        }

        .menu__sub-menu .menu__sub-menu a:before {
            width: 2.5em;
        }

        .menu__items .menu__item.has-children > a {
            padding-right: 4em;
        }

        .menu__sub-menu {
            display: none;
        }

        .dropdown-target {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 4em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.hidden-when-mobile {
            display: none;
        }        
    }

} // end mobile mixin


// mixin to generate mobile nav styles
@mixin menu-navbar-desktop-styles( $screen ) {

    &.mobile-at-#{$screen} {

        .menu__items > .menu__item > .menu__sub-menu {
            transform: translateX(-50%);
            left: 50%;
            width: 10em;
            min-width: 100%;
            padding: 0.6em 1.2em;

            &:before {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                z-index: 1000;
                left: 50%;
                bottom: 100%;
                margin-left: -7px;
                border: 7px solid transparent;
                border-bottom-color: inherit;
            }

            .menu__link {
                line-height: 1.2em;
                padding: 0.6em 0;
                font-size: 0.9em
            }
        }
    }

} // end desktop mixin


.menu--navbar {
    
    &__link {    
        font-size: var( --nav--navbar--font-size );
        line-height: var( --nav--navbar--line-height );
    }

    /* 
     * Mobile Styles
     */

    // always mobile
    @include menu-navbar-mobile-styles( 'always' );

    // mobile only styles 
    @include screen('mobile') {
        @include menu-navbar-mobile-styles( 'mobile' );       
    };

    // tablet and under styles 
    @include screen('tablet-and-under') {
        @include menu-navbar-mobile-styles( 'tablet-and-under' );
    };    

    /* 
     * Desktop Styles
     */

    // never mobile styles
    @include menu-navbar-desktop-styles( 'never' );

    // mobile only styles 
    @include screen('tablet-and-up') {
        @include menu-navbar-desktop-styles( 'mobile' );
    };    

    // tablet and under styles 
    @include screen('desktop') {
        @include menu-navbar-desktop-styles( 'tablet-and-under' );
    };
}
