////
/// Sidebar component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.sidebar {
    z-index: 1;
    order: 2;
    position: relative;
    flex: 1 0 100%;
    font-size: var( --typography--sidebar--font-size );
    line-height: var( --typography--sidebar--line-height );
    background-color: var( --layout--sidebar--background-color );
    padding: var(--layout--container--padding) 0;


    &:before {
        content: " ";
        background-color: var( --layout--sidebar--background-color );
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: calc( 50% - 50vw );
        z-index: -1;
    }


    // Desktop Styles
    @include screen('desktop') {

        padding: var(--layout--container--padding);
        max-width: var( --layout--sidebar--width );

        &--right {
            padding-right: 0;
            order: 2;
            &:before {
                right: auto;
                left: 0;
            }
        }

        &--left {
            padding-left: 0;
            order: 0;
            &:before {
                right: 0;
                left: auto;
            }
        }
    }

    .widget {
        max-width: var(--layout--content--max-width);
        margin-bottom: var( --typography--sidebar--block-spacing );
        margin-left: auto;
        margin-right: auto;
    }
}


@include screen('desktop') {
    .app-main {
        &--sidebar-right, &--sidebar-left {
            max-width: calc( 100% - var( --layout--sidebar--width ) );
        }
    }
}
