////
/// Sidebar component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


.sidebar {
    z-index: 1;
    order: 2;
    position: relative;
    flex: 1 0 100%;
    padding: var(--layout--container--padding) 0;
    font-size: var( --typography--sidebar--font-size );
    line-height: var( --typography--sidebar--line-height );
    background-color: var( --colors--sidebar--background-color );
    color: var( --colors--sidebar--text-color);

    a:link, a:visited {
        color: var(--colors--sidebar--link-color);
    }

    a:hover, a:active {
        color: var(--colors--sidebar--link-color--hover);
    }

    &:before {
        content: " ";
        background-color: var( --colors--sidebar--background-color );
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: calc( 50% - 50vw );
        z-index: -1;
    }


    // Desktop Styles
    @include screen('desktop') {

        box-sizing: content-box;
        flex: 1 0 auto;
        width: var(--layout--sidebar--min-width);
        padding: var(--layout--container--padding);

        &--right {
            padding-right: 0;
            order: 2;
            &:before {
                right: auto;
                left: 0;
            }
        }

        &--left {
            padding-left: 0;
            order: 0;
            &:before {
                right: 0;
                left: auto;
            }
        }

        * {
            box-sizing: border-box;
        }
    }

    .widget {
        margin-bottom: var( --typography--sidebar--block-spacing );
        max-width: var(--layout--content--max-width);
        margin-left: auto;
        margin-right: auto;
    }
}
