////
/// Widget component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.widget {

	// Core widgets.
	&--archives {}
	&--calendar {}
	&--categories {}
	&--custom-html {}
	&--media-audio {}
	&--media-gallery {}
	&--media-image {}
	&--media-video {}
	&--meta {}
	&--nav-menu {}
	&--pages {}
	&--recent-comments {}
	&--recent-posts {}
	&--rss {}
	&--text {}
	&--search {}
	&--tag-cloud {}

	// Widget titles.
	&__title {
        padding-top: 0;
        margin-bottom: 0.6em;
    }
}

.sidebar .widget {
    margin-bottom: var( --typography--sidebar--block-spacing );
}