////
/// Nav menu component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

// Mixin to generate mobile nav styles
@mixin mobile-styles( $screen ) {

    &.mobile-at-#{$screen} {
        .menu--navbar__container {
            height: 3.2em;
            display: flex;
            align-items: center;
        }

        &.menu--right {
            .menu--navbar__container {
                justify-content: flex-end;
            }
        }
    }
}

// Mixin to generate desktop nav styles
@mixin desktop-styles( $screen ) {

    &.mobile-at-#{$screen} {
        .menu__sub-menu {
            background-color:   var( --colors--accent );
            border-color:       var( --colors--accent );
            color:              var( --colors--accent-contrast );
        }
    }
}

.menu--navbar {

    // needed for custom header image
    position: relative;

    background-color: black;

    &__link {
        font-size:      var( --navigation--navbar--font-size );
        line-height:    var( --navigation--navbar--line-height );
    }

    // ****************
    // * Mobile Styles
    // ****************

    // always mobile
    @include mobile-styles( 'always' );

    // mobile only styles
    @include screen( 'mobile' ) {
        @include mobile-styles( 'mobile' );
    };

    // tablet and under styles
    @include screen( 'tablet-and-under' ) {
        @include mobile-styles( 'tablet-and-under' );
    };

    // ****************
    // * Desktop Styles
    // ****************

    // never mobile styles
    @include desktop-styles( 'never' );

    // mobile at mobile only styles
    @include screen( 'tablet-and-up' ) {
        @include desktop-styles( 'mobile' );
    };

    // mobile at tablet and under styles
    @include screen( 'desktop' ) {
        @include desktop-styles( 'tablet-and-under' );
    };
}
