////
/// Icon Styles
///
/// @group  Components\Icons
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.taproot-icon {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    width: 1em;
    position: relative;
    // top: -0.125em;
    fill: currentColor;
}
