////
/// Site Background Color
///
/// @group  Components\Background
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

// Single entry styles
.entry {

    // Single title
    &__title {
        font-size:      var( --entry--title--font-size );
        line-height:    var( --entry--title--line-height );
        color:          var( --entry--title--text-color );
    }

    // Single meta
    &__byline {

        font-size:      var( --entry--meta--font-size );
        color:          var( --entry--meta--text-color );

        .taproot-icon {
            color:      var( --entry--meta--icon-color );
        }
    }
}

// Archive title
.archive-header__title {
    font-size:          var( --archive--title--font-size );
    line-height:        var( --archive--title--line-height );
    color:              var( --archive--title--text-color );
}

// Archive entry styles
.entry {

    // Archive entry title
    &__title--archive {

        font-size:      var( --archive-entry--title--font-size );
        color:          var( --archive-entry--title--link-color );

        &:hover {
            color:      var( --archive-entry--title--link-color--hover );
        }
    }

    // Archive entry meta
    &__byline--archive   {

        font-size:      var( --archive-entry--meta--font-size );
        color:          var( --archive-entry--meta--text-color );

        .taproot-icon {
            color:      var( --archive-entry--meta--icon-color );
        }
    }

    // Archive entry link
    &__link {
        font-size:      var( --archive-entry--link--font-size );
    }

}