////
/// Quote block.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.wp-block-quote {
    quotes: '' '';
    position: relative;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8em 0.8em 0.8em 3em;
    background-color: var(--colors--meta-light);

    &:before {
        position: absolute;
        font-size: 4em;
        line-height: 0;
        left: 0.1em;
        top: 0.65em;
        font-family: Georgia, serif;
        content: '\201C';
        font-weight: 700;
        opacity: 0.3;
        color: var(--colors--meta-dark);
    }

    p {
        font-size: 1.2rem;
        line-height: 1.4;
        font-style: italic;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    cite {
        font-weight: bold;
        display: block;
        margin-top: 0.5rem;
    }

    &.is-style-large {
        p {
            font-size: 2rem;
            line-height: 1.25;
        }

        cite {
            font-size: 1.2rem;
        }
    }
}
