////
/// Editor - General Block Styles
///
/// These styles apply to all block types in the editor.
///
/// @group  Styles
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

// Import component styles inside the editor styles wrapper
.editor-styles-wrapper {
    @import 'block';
}

// force our font size on the blockquote block
.wp-block-quote__citation {
    font-size: var( --typography--body--font-size );
}

// pullquotes
.editor-block-list__layout .block-editor-block-list__block[data-type="core/pullquote"] {

    &[data-align=left], &[data-align=right] {
        .block-editor-block-list__block-edit {
            max-width: 42%;
        }
    }

    .block-editor-rich-text p {
        font-size: 1.625em;
        line-height: 1.125;
    }
    .wp-block-pullquote__citation {
        font-style: italic;
        margin-top: 0.4em;
    }
}
