////
/// Block Editor Styles.
///
/// Styles for individual blocks within the block editor.
///
/// @group  Blocks
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

@import 'group/editor';
@import 'paragraph/editor';
@import 'audio/editor';
@import 'categories/editor';
@import 'code/editor';
@import 'columns/editor';
@import 'cover-image/editor';
@import 'embed/editor';
@import 'file/editor';
@import 'gallery/editor';
@import 'image/editor';
@import 'latest-posts/editor';
@import 'preformatted/editor';
@import 'pullquote/editor';
@import 'quote/editor';
@import 'separator/editor';
@import 'subhead/editor';
@import 'table/editor';
@import 'verse/editor';
@import 'text-media/editor';
@import 'social-links/editor';


// general block styles
.editor-styles-wrapper {

    &.edit-post-visual-editor {
        color:              var( --colors--text );
    }

    // Base block styles
    .wp-block  {
        max-width:          var( --content-width );
        font-family:        var( --typography--body--font-family, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif );
        font-size:          var( --typography--body--font-size );
        line-height:        var( --typography--body--line-height );
    }


    // Blocks that always have block padding
    .wp-block-cover,
    .wp-block-preformatted,
    .wp-block-code,
    .wp-block-verse {
        @extend .has-block-padding;
    }

    // blocks with block padding under certain conditions
    .wp-block-group,
    .wp-block-columns,
    .wp-block-media-text {

        &.has-background, &[style*=background-color] {

            @extend .has-block-padding;

            &.alignfull {

                .alignfull:not( .has-background ) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    // Blocks with block spacing
    .wp-block-columns,
    .wp-block-audio,
    .wp-block-file,
    figure.wp-block-gallery,
    .wp-block-table {
        @extend .has-block-spacing;
    }

    // blocks with block spacing only when not full width
    .wp-block-cover,
    .wp-block-media-text {

        &:not(.alignfull) {
            @extend .has-block-spacing;
        }
    }

     // wide and full block styles
     .block-editor-block-list__block[data-align=full],
     .block-editor-block-list__block[data-align=wide],
     .alignfull, .alignwide {

         width: auto;

         .wp-block-image {
             width: 100%;
         }

         // force image to fill space
         img {
             width: 100%;
         }
     }

     // full block styles
     .block-editor-block-list__block[data-align=full],
     .alignfull {
         max-width: none;
     }

     // wide block styles
     .block-editor-block-list__block[data-align=wide],
     .alignwide {
         max-width: 100%;
     }
}
