////
/// Blockquote styles
///
/// @group  Elements
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////


blockquote {
    quotes: "" "";
    position: relative;
    clear: both;
    padding: 0.8em 0.8em 0.8em 3em;
    border-left: .4em solid currentColor;
    background-color: var( --colors--theme--meta-light );

    &:before {
        position: absolute;
        font-size: 4em;
        line-height: 0;
        left: 0.1em;
        top: 0.65em;
        font-family: Georgia,serif;
        content: "\201C";
        font-weight: 700;
        opacity: 0.3;
        color: var( --colors--theme--meta-dark );
    }

    p {
        font-size: 1.25em;
        font-style: italic;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    cite {
        font-weight: bold;
    }
}
