////
/// Component Custom Properties
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

:root {
    --navigation--navbar--font-size: 1em;
    --navigation--navbar--line-height: 1.2;
    --navigation--navbar--height: 3em;
    --navigation--navbar--background-color: black;
    --navigation--navbar--color: white;
    --navigation--navbar-mobile--background-color: #424242;
}
