////
/// Component Custom Properties
///
/// @group  Components\Colors
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

:root {

    // Theme Colors
    --colors--theme--accent:            #00a0d1;
    --colors--theme--accent-contrast:   #ffffff;
    --colors--theme--meta-light:        #f4f4f4;
    --colors--theme--meta-medium:       #d8d8d8;
    --colors--theme--meta-dark:         #a5a5a5;
}
