////
/// Component Custom Properties
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

:root {
    --colors--text:             #8c8c8c;
    --colors--accent:           #00a0d1;
    --colors--accent-contrast:  #ffffff;
    --colors--meta-light:       #f4f4f4;
    --colors--meta-medium:      #d8d8d8;
    --colors--meta-dark:        #a5a5a5;
}
