////
/// Component: Colors
///
/// @group  Components\Colors
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

// Fieldset colors
fieldset {
    border-color:       var( --colors--theme--meta-medium );
}

// Legends colors
legend {
    background-color:   var( --colors--theme--meta-light );
    border-color:       var( --colors--theme--meta-medium );
}

// Input text colors
input, textarea, select {
    color:              var( --colors--theme--meta-dark );
}

// Input border colors
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select,
option {
    border-color:       var( --colors--theme--meta-medium );
}
