////
/// Component Custom Properties
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

:root {
    --navigation--top--font-size: 1em;
    --navigation--top--line-height: 1.5;
    --navigation--top--height: 2.5rem;
    --navigation--top--background-color: black;
    --navigation--top--color: white;
}
