////
/// Comment respond form component.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.comment-respond {

    padding: 1.5em;
    border: 1px solid var( --colors--theme--meta-medium );
    background-color: var( --colors--theme--meta-light );


	// Header/title for the respond section.
	&__reply-title {
        padding: 0;
        margin-bottom: 0.2em;
        line-height: 1;
        font-size: 1.8em;        
    }

	// The comment form.
	&__form {}

	// Note section at the top of form.
	&__notes {
        font-size: 0.8em;
        margin-bottom: 1em;
    }

	// Logged-in message at the top of the form.
	&__logged-in-as {
        margin-bottom: 0.6em;    
    }

	// The wrapping element around individual form fields.
	&__field {

        label {
            display: inline-block;
            margin-bottom: 5px;
        }
        
		&--comment, &--author, &--email, &--url {
            line-height: 1;
            margin-bottom: 1em;
        }

		&--comment {}
		&--author {}
		&--email {}
		&--url {}
		&--cookies {}
		&--submit {
            margin-bottom: 0;
            text-align: right;
        }
    }
    
    // submit button
    &__submit {}


	// Comments closed message.
    &__closed {}
    

    textarea, input[type="text"], input[type="url"], input[type="email"] {
        border: 1px solid var( --colors--theme--meta-medium );
    }

}
