////
/// Comment component.
///
/// This is the component for handling individual comments in a comments list.
///
/// @group  Components
/// @author Sky Shabatura <theme@sky.camp>
/// @link   https://taproot-theme.com
////

.comment {

    // Comment Wrapper.
    &__body {
        padding: var( --typography--body--block-spacing );
        margin-bottom: var( --typography--body--block-spacing );
        border: 1px solid var( --colors--theme--meta-medium );
    }

    // Type of comment.
    &--type-comment {}

    &--type-ping {}

    // Comment status.
    &--status-unapproved {}

    // Full comment text/content.
    &__content {

        &> :last-child {
            margin-bottom: 0;
        }
    }

    // Comment under moderation message.
    &__moderation {}

    // Metadata wrapper.
    &__meta {
        margin-bottom: 1em;
    }

    // Individual metadata items.
    &__avatar {
        margin-right: 1em;
    }

    &__author {}

    &__permalink {}

    &__date {}

    &__time {}

    &__edit {}

    &__reply {}
}
